<h2>To make an appointment</h2>

<form action="/visit" method="post">

  <div class="form-group">
    <label for="exampleInputEmail1">Your name</label>
    <input name="customer_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Your phone</label>
    <input name="phone" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Time</label>
    <input name="time" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Your BarberMan</label>
    <select class="custom-select custom-select-lg mb-3">
      <option selected>Open this select menu</option>
      <option value="1">Mike</option>
      <option value="2">Oliver</option>
      <option value="3">Nikolas</option>
    </select>

  <button type="submit" class="btn btn-danger">Take</button>
</form>

