<h1>Hi</h1>

<p>You typed: <%= @login %></p>
<p>Your password: <%= @password %></p>

<p><%= @message %></p>

<p>You typed: <%=@login %>

<form action="/" method="post">
  <input type="text" name="aaa" />
  <input type="password" name="bbb" />
  <input type="submit"/>
</form>
