<html>
  <head>
    <link href="/styles.css" rel="stylesheet" media="all" />


  </head>
  <body>
    <h1>Hi. Welcom to Barber Shop</h1>
    <p>We are open</p>

    <form action="/" method="POST">
      Your name:                              <br/>
      <input type="text" name="user_name" />  <br/>
      Your phone:                             <br/>
      <input type="text" name="phone" />      <br/>
      Date and time:                          <br/>
      <input type="text" name="date_time" />  <br/>
      <input type="submit" />
    </form>

    <form action="/" method="post">
      Login:<br/>
      <input type="text" name="login"><br/>
      Password:<br/>
      <input type="text" name="password"><br/>
      <input type="submit" />
    </form>



  </body>

</html>